body{
	width:100%;
	height: 100%;
	font-family: 'ROBOTO',sans-serif;
	background: #18191B;
}
.company-logo{
	width:17%;
	margin:15vh auto;
}

clearfix:after{
	content: '';
	clear: both;
	display: block;
}

pull-left{
	float:left;
}

pull-right{
	float:right;
}


.sign-company-logo{
	width:17%;
	margin:5vh auto ;
}

.company-logo img{
	width:100%;
	height:45px;
}

.login-form-container{
	width:400px;
	height:400px;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	box-sizing:border-box;
	background:#000;
	margin-top:45px; 
}

.signup-form-container{
	width:400px;
	height:550px;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	box-sizing:border-box;
	background:#000;
	margin-top:45px; 
}

.login-form-container h2,.signup-form-container h2{
	text-align: center;
	margin:0;
	padding:0;
	color:#E2B539;
	text-transform: uppercase;
	font-size: 25px;
	font-weight:400;
	margin:45px 0;
}
.login-form-container form input[type="text"],
.login-form-container form input[type="password"],
.signup-form-container form input[type="text"],
.signup-form-container form input[type="password"],
.signup-form-container form input[type="email"]{
	display: block;
	margin:45px auto;
	width:90%;
	padding:12px 7px;
	box-sizing: border-box;
	border:none;
	background: none;
	color:#FFF;
	border-bottom:solid 1px #E2B539;
}

.login-form-container form input[type="text"]:hover,
.login-form-container form input[type="password"]:hover,
.login-form-container form input[type="text"]:focus,
.login-form-container form input[type="password"]:focus,
.signup-form-container form input[type="text"]:hover,
.signup-form-container form input[type="password"]:hover,
.signup-form-container form input[type="text"]:focus,
.signup-form-container form input[type="password"]:focus,
.signup-form-container form input[type="email"]:focus,
.signup-form-container form input[type="email"]:hover
{
	outline:none;
}


.login-form-container form input[type="text"]::placeholder,
.login-form-container form input[type="password"]::placeholder,
.signup-form-container form input[type="text"]::placeholder,
.signup-form-container form input[type="password"]::placeholder,
.signup-form-container form input[type="email"]::placeholder
{
	font-size:13px;
}



.login-form-container form input[type="checkbox"]{
	margin:20px auto;
	border:none;
}
.login-form-container form label{
	color:#FFF;
	text-transform: uppercase;
	font-weight: 300;
	margin-right:15px;
	margin-left:15px;
}
.login, button [type="submit"]{
	text-decoration:none;
	margin-left:20px;
	margin-right:20px;
	display:inline-block;
	padding:10px 20px;
	border:solid 1px #FFF;
	transition:all 0.3s ease;
	background: none;
	color:#FFF;
}
.login:link,
.login:visited{
	color:#FFF;
}

.login:hover,
.login:active{
	background:#E2B539;
	color:#000;
	border-color:#E2B539;
	cursor:pointer;
}
.forgot{
	text-decoration: none;
	color:#FFF;
	padding:10px 20px;
	border:solid 1px #FFF;
	box-sizing: border-box;
	transition: all 0.3s ease;
}
.forgot:link,
.forgot:visited{
	color:#FFF;
}
.forgot:hover,
.forgot:active{
	background:#FFF;
	color:#000;
	cursor:pointer;
}


.toaster{
	position:fixed;
	right:15px;
	top:60px;
	text-align: center;
	width:400px;
/*	height:400px;*/
	padding:10px 20px;
	display: none;
	color:#FFF;
}

.haserror{
	background:#CA5E59;
}

.passed{
	background:#51A351;
}

.toaster .icon-outter i{
	color:#000;
	cursor: pointer;
}

.error{
	width:100%;
	height:100%;
}